@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* .input {
  @apply w-full mt-1 px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500;
} */

@theme {
  /* --font-display: "Satoshi", "sans-serif";
    --breakpoint-3xl: 120rem; */

  /* Colors */
  --color-primary: #ef4444;
  --color-secondary: #6366f1;
  --color-accent: #38bdf8;

  --color-surface-dark: #111827;
  --color-surface-card: #1f2937;
  --color-surface-hover: #374151;

  --color-dark-main: #1e1e20;
  --color-dark-primary: #212121;
  --color-dark-secondary: #303030;
  --color-dark-secondary-elevated: #141414;
  --color-dark-tertiary: #414141;

  --color-dark-card: #2a2a2e;
  --color-dark-header: #2f2f34;
  --color-dark-border: #3c3c41;
  /* --color-dark-primary: #e6e6e7;
  --color-dark-secondary: #a1a1aa;
  --color-dark-tertiary: #6e6e73; */
  --color-dark-input: #2e2e30;
  --color-dark-hover: rgba(255, 255, 255, 0.05);

  --color-btn-primary: #155dfc;
  --color-btn-primary-hover: #0048e1;
  --color-btn-accent: #e7000b;
  --color-btn-accent-hover: #c1000a;

  --color-status-success: #10b981;
  --color-status-warning: #f59e0b;
  --color-status-error: #e11d48;

  /* Fonts */

  /* --font-display: "Oswald", "sans-serif"; */
  --font-sans: "Inter", sans-serif; /* For body text */
  --font-display: "Oswald", sans-serif; /* For titles */
  --font-special: "Bungee Spice", sans-serif;
}
body {
  font-family: var(--font-sans);
}
